<div class="container-fluid blue-fade header-container">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <div class="navbar-brand">
          <img src="assets/images/llnl-logo.png" class="logo">
          <h1 class="text-inline left30">Atomic Labs</h1>
        </div>
      </div>
    <div class="nav nav-tabs">
        <a [routerLink]="['/home']" class="nav-item nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a [routerLink]="['/list/']" class="nav-item nav-link" routerLinkActive="active">List</a>
    </div>
  </nav>
</div>
