.tableFixedHead  {
  overflow-y: auto;
}

.tableFixedHead thead th {
  position: sticky;
  top: 0;
}

th {
  background: white;
  white-space: nowrap;
}

thead tr {
  border-bottom: 1px solid black;
}

thead th {
  background-color: lightgray;
}